.containerTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 8rem;
    border: 0.2rem solid #0f0; 
    padding: 1rem;
}

.txtTitulo {
    color: #0f0;
}