.mesasContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mesaCard {
    border: 2px solid;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.mesaCard h2 {
    margin: 0;
    margin-bottom: 10px;
}

.mesaCard p {
    margin: 5px 0;
}

.mesaLugaresControl {
    display: flex;
    justify-content: space-between;
}

.mesaLugaresControl button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.mesaLugaresControl button:hover {
    background-color: #0056b3;
}

.mesaCard:hover {
    transform: scale(1.05);
}