.container {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.produtoImg {
    width: 50px;
    height: 50px;
}

.destaqueImg {
    width: 30px;
    height: 30px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
}

.modalContent label {
    display: block;
    margin-bottom: 10px;
}

.modalContent input,
.modalContent textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.modalContent button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modalContent button:hover {
    background-color: #005bb5;
}
