.container {
    display: flex; 
    flex-direction: column;    
    width: 70rem;  
    /* align-items: center; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.search {
    display: flex;
    gap: 1rem;
}

.search input {
    padding: 0.8rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    width: 20rem;
}

.search select {
    padding: 0.8rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}

.addButton {
    background-color: #B71C1C;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #F05545;
}


.table {
    /* width: 0 auto; */
    border-collapse: collapse;
    /* margin-left: 1rem; */
}

.table th {
    padding: 1rem;
    border: 0.3rem solid #B71C1C;
    text-align: center;
    background-color: #B71C1C; 
    color: #fafafa;
}

.table td {    
    padding: 1rem;
    border-bottom: 0.3rem solid #B71C1C;
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer;
}

.table tr:hover td {    
    background-color: #F05545;
}

.produtoImg {
    width: 5rem;
    height: 5rem;
}

.destaqueImg {
    width: 2.5rem;
    height: 2.5rem; 
    margin: 0.5rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    width: 50rem;
}

.modalContent label {
    display: block;
    margin-bottom: 1rem;
}

.modalContent input,
.modalContent textarea {
    width: 48rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
}

.modalContent button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #B71C1C;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.modalContent button:hover {
    background-color: #F05545;
}

.ladolado {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;     
} 

.ladolado label {
    display: flex;    
    margin-bottom: 4rem;
}

.ladolado input,
.ladolado textarea {   
    width: 4rem; 
    padding: 0rem;
    margin-bottom: 0rem;
}
