.containerTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 8rem;
    border: 0.2rem solid #00f; 
    padding: 1rem;
}

.txtTitulo {
    color: #00f;
}