.tipos {
    color: #FAFAFA;
    background-color: #B71C1C;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 112.8rem;   
    border-radius: 2rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.tipos .tpicon {
    font-size: 4rem;
    margin: 2rem 6rem;
    cursor: pointer;
}

/* @media screen and (max-width: 960px) {
    .containerImagem {
        flex-direction: column;
        align-items: center;
    }
} */