.produtos {
    /* margin: 1rem auto; */
    display: flex;
    justify-content: space-between;    
    max-width: 1440px;
    border-radius: 2rem;
    flex-wrap: wrap;
}

.loading {
    font-size: 2.4rem;
    color: #333;
    text-align: center;
    margin: 5rem;
}