.grid {
    display: grid;
    width: 100%;
    max-width: 1440px;
    grid-template-columns: 40% 20% 20% 20%;
    /* border-width: 0.5rem;
    border-style: solid;
    border-color: #B71C1C; */
    border-bottom: 0.5rem solid #B71C1C;
    font-size: 1.7rem;
}

.grid .carrTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #FAFAFA;
    background-color: #B71C1C;
    font-weight: bold;
    font-size: 2rem;
}

.grid .carrProduto {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.grid .carrProduto .contImgCarrProd {
    width: 20%;
    height: auto;
    margin-right: 1rem;
}

.grid .carrProduto .contImgCarrProd img {
    width: 100%;
    height: auto;
}

.grid .carrProduto span {
    width: 100%;
}

.grid .carrQtd {
    justify-content: space-around;
}

.grid .valores {
    justify-content: center;
}

.gridTotal {
    display: grid;
    width: 100%;
    max-width: 1440px;
    grid-template-columns: 80% 20%;
}

.gridTotal .total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
}