.centraliza {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grid {
    display: grid;
    width: 100%;
    max-width: 1440px;
    grid-template-columns: 40% 20% 20% 20%;
    /* border-width: 0.5rem;
    border-style: solid;
    border-color: #B71C1C; */
    border-bottom: 0.5rem solid #B71C1C;
    font-size: 1.7rem;
}

.grid .carrTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #FAFAFA;
    background-color: #B71C1C;
    font-weight: bold;
    font-size: 2rem;
}

.grid .carrProduto {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.grid .carrProduto .contImgCarrProd {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5rem;
    margin-right: 1rem;
}

.grid .carrProduto .contImgCarrProd img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.spanBtn {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    /* background-color: #B71C1C; */
    color: #B71C1C;
    border-radius: 2rem;
    border: 2px solid #B71C1C;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.spanBtn:hover {
    background-color: #FAFAFA;
    color: #B71C1C;
}

.grid .carrQtd {
    justify-content: space-around;
}

.grid .valores {
    justify-content: center;
}

.gridTotal {
    display: grid;
    width: 100%;
    max-width: 1440px;
    grid-template-columns: 80% 20%;
}

.gridTotal .total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
}

.iconChat {
    margin-top: 0.5rem;
    cursor: pointer;
    color: #B71C1C;
    /* Vermelho para destacar */
    font-size: 2rem;
    transition: color 0.3s ease;
}

.iconChat:hover {
    color: #880E0E;
    /* Cor mais escura ao passar o mouse */
}

.observacao {
    margin-bottom: 0.5rem;
}

.textareaCarrinho {
    width: 80%;
    /* height: 100px; */
    /* margin-bottom: 1rem; */
    padding: 0.5rem;
    border: 1px solid #B71C1C;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: #FAFAFA;
    color: #333;
    outline: none;
    resize: vertical; /* Permite redimensionar verticalmente */
    white-space: pre-wrap; /* Permite a quebra de linha */
    word-wrap: break-word; /* Garante que as palavras longas sejam quebradas */
  }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #FAFAFA;
    /* Fundo claro para contrastar com o vermelho */
    padding: 2rem;
    border: 2px solid #B71C1C;
    border-radius: 1rem;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    align-items: center;
    /* Adiciona uma sombra suave */
}

.modalContent textarea {
    width: 90%;
    height: 100px;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #B71C1C;
    /* Usando a cor principal */
    border-radius: 0.5rem;
    font-size: 1.6rem;
    background-color: #FAFAFA;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.modalContent textarea:focus {
    border-color: #880E0E;
    /* Um vermelho mais escuro ao focar */
}

.modalContent button {
    padding: 0.8rem 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    background-color: #B71C1C;
    /* Botão principal na cor do tema */
    color: #FAFAFA;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.modalContent button:hover {
    background-color: #880E0E;
    /* Escurece o vermelho ao passar o mouse */
}